<h1>Products</h1>
<% @products.each do |product| %>
  <div class="product_card">
    <%= product.name %> - <%= product.price %>€ - <%= product.category.name %> - <%= product.user.city.name %> (<%= product.user.city.department.department_number %>)
  </div>
<% end %>
